<% if (theme.totop){ %>
	<div id="totop">
	<a title="<%= __('totop')%>"><img width="64px" height="64px" src="<%- config.root %>img/scrollup.png"/></a>
	</div>
	<script src="<%- config.root %>js/totop.js"></script>
	
	 <script type="text/javascript">
      
      function closeButton() {
        document.getElementById("iCloseButton").click();
      }

    </script>
<% } %>