#totop
  position fixed
  bottom 7em
  right 1.6em
  cursor pointer
  @media tabletmax
    display none !important

#img_over
	margin-top 6px
	width 200px
	border-radius 11px
	transition all 0.25s
	transform scale(1.05)
	-webkit-box-shadow 0 0 9px rgb(200, 200, 200)
	-moz-box-shadow 0 0 9px rgb(200, 200, 200)
	box-shadow 0 0 9px rgb(200, 200, 200)
  			
#img{
	margin-top 6px
	width 200px
	border-radius 11px
	transition all 0.35s
	transform scale(1)
	-webkit-box-shadow 0 0 8px rgb(200, 200, 200)
	-moz-box-shadow 0 0 8px rgb(200, 200, 200)
	box-shadow 0 0 8px rgb(200, 200, 200)
}

time{
	margin-left 0.5em
}


